
*{
  margin: 0px;
  padding: 0px;
}
.head h1{
  height: 100px; 
  background-color: antiquewhite;
  text-align: center;
  padding-top:40px;
}

.row{
  display:flex;
  height: 90px; 
  background-color: #498fae;
}
.row a i{
  margin-top: 35px;
  margin-left: 50px;
  margin-right: 10px;
}
.row h2{
  text-align: center;
  margin-left: 750px;
  margin-top: 30px;
}
.circle {
  background: #c4c4c4;
  clip-path: circle(50%);
  height: 3em;
  width: 3em;
  margin-left: 840px;
  margin-top: 20px;
}

.sidebar{
  position: fixed;
  left:0;
  width: 250px;
  height: 100%;
  background-color: #498fae;
}
.circle--two{
    background: #c4c4c4;
    clip-path: circle(50%);
    height: 5em;
    width: 5em;
    margin-top: 20px;
    margin-left: 50px;
}
.sidebar p{
  font-size: 15px;
  color: white;
  line-height: 70px;
  user-select:none;
  margin-left: 40px;
  margin-top: -15px;
}

.sider ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height:65px;
  font-size: 20px;
  color: white;
  padding-left: 4px;
  box-sizing: border-box;
  border-top:1px solid rgb(255,255,255,.1);
  border-bottom:1px white;
  transition:.4s;
}
.sidebar ul a i{
  margin-right: 16px;
  padding-top: 25px;
  padding-bottom: 30px;
  margin-left: 15px;
  color: white;
}

/*---------- responsive ----*/
