<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="banner_style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
    <header>
      <div class="head">
        <h1>BANNER</h1>
      </div>
    </header>
    <nav>
      <div class="row">
        <a style="text-decoration: none"><i class="fa-solid fa-list"></i>Toggle sidebar</a>
        <h2>LOGO</h2>
        <div class="circle"></div>
      </div>
    </nav>
      <div class="sidebar">
        <hr  width="150%" align="center" color="white" />
        <div class="circle--two"></div>
        <p> USER NAME</p>
        <ul>
          <hr  width="150%" align="center" color="white" />
          <a><i class="fa-solid fa-table-cells-large"></i> Dashboard</a>
          <hr  width="150%" align="center" color="white" />
          <a><i class="fa-solid fa-table-cells-large"></i> Campaign</a>
          <hr  width="150%" align="center" color="white" />
          <a><i class="fa-solid fa-table-cells-large"></i> Account</a>
          <hr  width="150%" align="center" color="white" />
        </ul>
      </div>
  </div>
  </body>
</html>
 